.LoginDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 352px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 24px;
    border-radius: 25px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
}

.LoginDiv h1 {
    display: inline-block;
    padding-bottom: 9px;
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 600;
    background-image: linear-gradient(to bottom, #decdfe, #5502fc);
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2.5rem;
}

.LoginDiv input {
    width: 90%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    outline: 2px solid #ccc;
}

.LoginDiv input:hover {
    outline: 2px solid #a375ff;
}

.LoginDiv input:focus {
    outline: 2px solid #7346cd;
}

.LoginDiv button {
    width: 90%;
    padding: 1rem;
    border-radius: 28px;
    border: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    background: #7e4fdc;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 9vh;
}

.LoginDiv button:hover {
    background: #6941ba;
}

.LoginDiv button:active {
    background: #9e70fb;
}